/*
 * Variables
 */
/*
 * General
 */
html,
body {
  height: 100%;
}
body {
  color: #888888;
  background-color: #ffffff;
  font-family: 'Tauri', sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
}
h1 {
  font-size: 2em;
  line-height: 1em;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
img.framed {
  border: #d4d4d4 1em solid;
  margin-top: 1.5em;
}
a.gallery img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  -moz-transition: -moz-transform 100ms ease-in-out;
  -o-transition: -o-transform 100ms ease-in-out;
  -ms-transition: -ms-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
}
a.gallery:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.panel {
  position: relative;
  min-height: 100%;
  -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 200px rgba(0,0,0,0.7);
  box-shadow: 0 0 200px rgba(0,0,0,0.7);
}
/*
 * Social icons
 */
.social {
  list-style-type: none;
  padding-left: 0;
}
.social li {
  display: inline-block;
}
.social img {
  opacity: 0.6;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.social img:hover {
  opacity: 1;
}
/*
 * Header
 */
#header {
  color: #888888;
  background-color: #ffffff;
  top: 0;
  -webkit-animation: fade-in 500ms ease-in 0s 1 both;
  -moz-animation: fade-in 500ms ease-in 0s 1 both;
  -o-animation: fade-in 500ms ease-in 0s 1 both;
  -ms-animation: fade-in 500ms ease-in 0s 1 both;
  animation: fade-in 500ms ease-in 0s 1 both;
}
#header .fixed-region {
  position: fixed;
  min-height: 100%;
}
/*
 * Expertise
 */
#expertise {
  color: #ffffff;
  background-color: #000044;
  background-position: 200% 10%;
  background-repeat: no-repeat;
  -webkit-transition: background-position 750ms ease-in-out 250ms;
  -moz-transition: background-position 750ms ease-in-out 250ms;
  -o-transition: background-position 750ms ease-in-out 250ms;
  -ms-transition: background-position 750ms ease-in-out 250ms;
  transition: background-position 750ms ease-in-out 250ms;
}
#expertise p {
  color: #e6e6e6;
  margin-left: 2em;
}
#expertise.bg {
  background-image: url(../images/expertise-bg.png);
}
#expertise.animate {
  background-position: 90% 10%;
}
/*
 * Career
 */
#career {
  color: #888888;
  background-color: #ffffff;
}
#career ul {
  padding: 0;
  text-align: center;
}
#career ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 2em;
  margin-bottom: 2em;
  line-height: 60px;
}
/*
 * Portfolio
 */
#portfolio {
  color: #ffffff;
  background-color: #000044;
}
/*
 * Interests
 */
#interests {
  color: #888888;
  background-color: #eeeeee;
}
/*
 * Footer
 */
#footer {
  color: #ffffff;
  background-color: #000022;
}
/*
 * Transitory arrows
 */
.transitory-arrow {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 1em;
  left: 50%;
  margin-left: -50px;
  opacity: 0.4;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.transitory-arrow:hover {
  opacity: 0.6;
}
.transitory-arrow.light {
  background-image: url(../images/down-arrow-white.png);
}
.transitory-arrow.dark {
  background-image: url(../images/down-arrow-gray.png);
}
/*
 * Media query adjustments?  Refactor?
 */
@media (max-width: 767px) {
  header,
  section,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  #header .fixed-region {
    position: relative;
  }
}
/*
 * Keyframes.  When LESSHat supports keyframes these should be transitioned.
 */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
