/*
 * Variables
 */
/*
 * General
 */
html,
body {
  height: 100%;
}
body {
  color: #888888;
  background-color: #ffffff;
  font-family: 'Tauri', sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
h1 {
  font-size: 2.61803398875024em;
  line-height: 1em;
}
h2 {
  font-size: 1.61803398875em;
  line-height: 1em;
}
header,
section,
footer {
  position: relative;
}
/* Image replacement technique from HTML5 Boilerplate:
   https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
img.framed {
  border: #d4d4d4 1em solid;
  margin-top: 1.5em;
}
a.gallery img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  -moz-transition: -moz-transform 100ms ease-in-out;
  -o-transition: -o-transform 100ms ease-in-out;
  -ms-transition: -ms-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
}
a.gallery:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.panel {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 200px rgba(0,0,0,0.7);
  box-shadow: 0 0 200px rgba(0,0,0,0.7);
}
/*
 * Social icons
 */
.social {
  list-style-type: none;
  padding-left: 0;
}
.social li {
  display: inline-block;
}
.social .social-sprite {
  background-image: url(../images/social/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  opacity: 0.6;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.social .social-sprite:hover {
  opacity: 1;
}
.social .social-sprite-facebook {
  background-position: 0 0;
  width: 32px;
  height: 32px;
}
.social .social-sprite-github {
  background-position: 0 -82px;
  width: 32px;
  height: 32px;
}
.social .social-sprite-google-plus {
  background-position: 0 -164px;
  width: 32px;
  height: 32px;
}
.social .social-sprite-linkedin {
  background-position: 0 -246px;
  width: 32px;
  height: 32px;
}
.social .social-sprite-twitter {
  background-position: 0 -328px;
  width: 32px;
  height: 32px;
}
/*
 * Header
 */
#header {
  color: #888888;
  background-color: #ffffff;
  top: 0;
}
#header .fixed-region {
  position: fixed;
  min-height: 100%;
}
/*
 * Expertise
 */
#expertise {
  color: #ffffff;
  background-color: #333366;
  background-position: 200% 10%;
  background-repeat: no-repeat;
  -webkit-transition: background-position 750ms ease-in-out 250ms;
  -moz-transition: background-position 750ms ease-in-out 250ms;
  -o-transition: background-position 750ms ease-in-out 250ms;
  -ms-transition: background-position 750ms ease-in-out 250ms;
  transition: background-position 750ms ease-in-out 250ms;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  webkit-backface-visibility: hidden;
}
#expertise p {
  color: #e6e6e6;
  margin-left: 2em;
}
/* First time we enter this panel, lazy load the background image */
#expertise.enter-panel-first-time {
  background-image: url(../images/expertise-bg.png);
}
/* Animate the background in and out when entering/exiting the panel */
#expertise.enter-panel {
  background-position: 90% 10%;
}
/*
 * Career
 */
#career {
  color: #888888;
  background-color: #ffffff;
  overflow: hidden;
}
#career .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out 500ms;
  -moz-transition: opacity 1s ease-in-out 500ms;
  -o-transition: opacity 1s ease-in-out 500ms;
  -ms-transition: opacity 1s ease-in-out 500ms;
  transition: opacity 1s ease-in-out 500ms;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  webkit-backface-visibility: hidden;
}
#career .bg img {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
#career ul {
  margin-top: 2em;
  padding: 0;
  text-align: center;
}
#career ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 2em;
  margin-bottom: 2em;
  line-height: 60px;
  vertical-align: middle;
}
#career ul li img {
  max-height: 60px;
  max-width: 100px;
}
#career.enter-panel .bg {
  opacity: 1;
}
/*
 * Portfolio
 */
#portfolio {
  color: #ffffff;
  background-color: #000044;
}
#portfolio a.gallery {
  position: relative;
  display: block;
  padding-top: 65.843949044586%;
}
#portfolio a.gallery .lazy {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
 * Interests
 */
#interests {
  color: #888888;
  background-color: #eeeeee;
}
#interests .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out 500ms;
  -moz-transition: opacity 1s ease-in-out 500ms;
  -o-transition: opacity 1s ease-in-out 500ms;
  -ms-transition: opacity 1s ease-in-out 500ms;
  transition: opacity 1s ease-in-out 500ms;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  webkit-backface-visibility: hidden;
}
#interests .bg img {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 80%;
}
#interests a.gallery {
  position: relative;
  display: block;
  padding-top: 53.75%;
}
#interests a.gallery .lazy {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#interests.enter-panel .bg {
  opacity: 1;
}
/*
 * Footer
 */
#footer {
  color: #ffffff;
  background-color: #000022;
}
/*
 * Transitory arrows
 */
.transitory-arrow {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 1em;
  left: 50%;
  margin-left: -50px;
  opacity: 0.4;
  -webkit-transition: opacity 100ms ease-in-out;
  -moz-transition: opacity 100ms ease-in-out;
  -o-transition: opacity 100ms ease-in-out;
  -ms-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.transitory-arrow:hover {
  opacity: 0.6;
}
.transitory-arrow.light {
  background-image: url(../images/down-arrow-white.png);
}
.transitory-arrow.dark {
  background-image: url(../images/down-arrow-gray.png);
}
/*
 * Mobile media query adjustments.
 */
@media (max-width: 767px) {
  header,
  section,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  #header .fixed-region {
    position: relative;
  }
}
/*
 * Career spritemap
 */
.no-js .career-sprite,
.career-sprite.lazyloaded {
  background-image: url(../images/career/sprite.png);
  background-repeat: no-repeat;
  background-position: top left;
}
.clients .client-logo {
  height: 0;
  width: 0;
  overflow: hidden;
}
.career-sprite {
  display: inline-block;
}
.career-sprite.career-alliance-atlantis {
  background-position: 0 0;
  width: 100px;
  height: 51px;
}
.career-sprite.career-california {
  background-position: 0 -101px;
  width: 90px;
  height: 60px;
}
.career-sprite.career-ea {
  background-position: 0 -211px;
  width: 60px;
  height: 60px;
}
.career-sprite.career-fifa {
  background-position: 0 -321px;
  width: 100px;
  height: 33px;
}
.career-sprite.career-government-canada {
  background-position: 0 -404px;
  width: 100px;
  height: 31px;
}
.career-sprite.career-ibm {
  background-position: 0 -485px;
  width: 60px;
  height: 60px;
}
.career-sprite.career-lawrence-livermore {
  background-position: 0 -595px;
  width: 100px;
  height: 19px;
}
.career-sprite.career-nfl {
  background-position: 0 -664px;
  width: 100px;
  height: 60px;
}
.career-sprite.career-nhl {
  background-position: 0 -774px;
  width: 53px;
  height: 60px;
}
.career-sprite.career-nokia {
  background-position: 0 -884px;
  width: 60px;
  height: 60px;
}
.career-sprite.career-toshiba {
  background-position: 0 -994px;
  width: 100px;
  height: 15px;
}
.career-sprite.career-ufc {
  background-position: 0 -1059px;
  width: 100px;
  height: 52px;
}
.career-sprite.career-virgin-gaming {
  background-position: 0 -1161px;
  width: 59px;
  height: 60px;
}
.career-sprite.career-vitrium {
  background-position: 0 -1271px;
  width: 100px;
  height: 23px;
}
.career-sprite.career-zen-point {
  background-position: 0 -1344px;
  width: 100px;
  height: 22px;
}
/*
 * Keyframes.  When LESSHat supports keyframes these should be transitioned.
 */
.fade-in {
  -webkit-animation: fade-in 500ms ease-in 0s 1 both;
  -moz-animation: fade-in 500ms ease-in 0s 1 both;
  -o-animation: fade-in 500ms ease-in 0s 1 both;
  -ms-animation: fade-in 500ms ease-in 0s 1 both;
  animation: fade-in 500ms ease-in 0s 1 both;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  webkit-backface-visibility: hidden;
}
.fade-out {
  -webkit-animation: fade-out 500ms ease-in 0s 1 both;
  -moz-animation: fade-out 500ms ease-in 0s 1 both;
  -o-animation: fade-out 500ms ease-in 0s 1 both;
  -ms-animation: fade-out 500ms ease-in 0s 1 both;
  animation: fade-out 500ms ease-in 0s 1 both;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*
 * Mixins
 */
