@import "lesshat.less";

/*
 * Variables
 */
@body-color: #888888;
@body-bg: #FFFFFF;

@header-color: @body-color;
@header-bg: @body-bg;

@expertise-color: #FFFFFF;
@expertise-bg: #000044;

@career-color: @body-color;
@career-bg: #eeeeee;

@portfolio-color: #FFFFFF;
@portfolio-bg: #000044;

@interests-color: @body-color;
@interests-bg: @body-bg;

@footer-color: #FFFFFF;
@footer-bg: #000022;

@transitory-arrow-size: 100px;





/*
 * General
 */
html,
body
{
  height: 100%;
}

body
{
  color: @body-color;
  background-color: @body-bg;
  font-family: 'Tauri', sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
}

h1
{
  line-height: 1.2em;
}

h2
{
  line-height: 1.3em;
}

.ir
{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.panel
{
    position: relative;
    min-height: 100%;
}





/*
 * Header
 */
#header
{
  color: @header-color;
  background-color: @header-bg;

  top: 0;
  .animation(~"fade-in 500ms ease-in 0s 1 both");

  .fixed-region
  {
    position: fixed;
    min-height: 100%;
  }

  .photo
  {
    border: lighten(@body-color, 30%) 1em solid;
    margin-top: 1.5em;
  }

}





/*
 * Expertise
 */
#expertise
{
  color: @expertise-color;
  background-color: @expertise-bg;
}





/*
 * Career
 */
#career
{
  color: @career-color;
  background-color: @career-bg;
}





/*
 * Portfolio
 */
#portfolio
{
  color: @portfolio-color;
  background-color: @portfolio-bg;
}





/*
 * Interests
 */
#interests
{
  color: @interests-color;
  background-color: @interests-bg;
}





/*
 * Footer
 */
#footer
{
  color: @footer-color;
  background-color: @footer-bg;
}





/*
 * Transitory arrows
 */
.transitory-arrow
{
  display: inline-block;
  width: @transitory-arrow-size;
  height: @transitory-arrow-size;
  position: absolute;
  bottom: 1em;
  left: 50%;
  margin-left: -(@transitory-arrow-size/2);
  opacity: 0.6;
  .transition(~"opacity 100ms ease-in");
}

.transitory-arrow:hover
{
  opacity: 0.8;
}

.transitory-arrow.light
{
  background-image: url(../../images/down-arrow-white.png);
}

.transitory-arrow.dark
{
  background-image: url(../../images/down-arrow-gray.png);
}





/*
 * Social icons
 */
  .social
  {
    list-style-type: none;
    padding-left: 0;

    li
    {
      display: inline-block;
    }

    img
    {
      opacity: 0.6;
      .transition(~"opacity 100ms ease-in");
    }

    img:hover
    {
      opacity: 1;
    }
  }





/*
 * Media query adjustments?  Refactor?
 */
@media (max-width: 767px)
{
  header,
  section,
  footer
  {
    padding-left: 20px;
    padding-right: 20px;
  }

  #header .fixed-region
  {
    position: relative;
  }
}





/*
 * Keyframes.  When LESSHat supports keyframes these should be transitioned.
 */

@-webkit-keyframes fade-in {.fade-in-keyframes;}
@-moz-keyframes    fade-in {.fade-in-keyframes;}
@-ms-keyframes     fade-in {.fade-in-keyframes;}
@-o-keyframes      fade-in {.fade-in-keyframes;}
@keyframes         fade-in {.fade-in-keyframes;}

.fade-in-keyframes ()
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}